@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
  
    &__title {
      display: block;
      align-self: center;
      color: rgb(255, 255, 255);
      font-family: Arial, Helvetica, sans-serif;
      font-family: "Bebas Neue", cursive;
      font-size: 60px;
      margin-top: 3%;
      margin-bottom: 1%;
    }
  
    &__container {
      width: 75%;
      margin-top: 1%;
      margin-left: auto;
      margin-right: auto;
      height: 730px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      border-radius: 15%;
      background-image: url(https://getwallpapers.com/wallpaper/full/4/b/c/160679.jpg);
  
      &__text {
        margin-top: 6%;
        width: 80%;
        background-color: rgba(5, 5, 5, 0.737);
        //margin: 2%;
        border-radius: 5%;
        padding: 2%;
        font-family: "Bebas Neue", cursive;
        font-size: 20px;
        color: rgb(255, 255, 255);
      }
    }
  }