.admin-container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    &__child {
      padding: 1rem;
      background-color: red;
      width: 450px;
      height: 480px;
    }
  }
  .admin-form {
    display: flex;
    flex-direction: column;
  }
  label {
    padding: 0.3em;
  }
  .button {
    display: flex;
    position: relative;
    justify-content: center;
    top: 40px;
    align-items: center;
    &__add {
      margin-right: 30px;
      border-radius: 10px;
      background: none;
      padding: 10px;
      cursor: pointer;
    }
    &__remove {
      margin-right: 30px;
      border-radius: 10px;
      background: none;
      padding: 10px;
      cursor: pointer;
    }
  }
  