.BiCartAlt {
    color: red;
    font-size: 20px;
    transition: 0.5s;
    &:hover {
      color: rgb(136, 5, 5);
    }
  }
  nav {
    background-color: #2d2d2d;
    height: 3rem;
    width: 100%;
    z-index: 10;
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  
    &__link {
      margin: 0.2rem;
      color: white;
      text-decoration: none;
      list-style: none;
      line-height: 50px;
      font-size: 20px;
      cursor: pointer;
      width: 200px;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      transition: 0.5s;
      &:hover {
        color: yellow;
      }
    }
  }
  